body{background-color: #F9E8CC;}
.user_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.head {

    display: flex;
    justify-content:center;
    align-items: center;
width: 100%;
}
.nav{
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.line_orange{
    height: 30px;
    color: rgb(255, 4, 0);
}

hr{
   width: 600px;
   height: 2px;
   background-color: rgb(240, 135, 6);
   border: none;
}