{% extends 'layout.html.twig' %}
{%block links%}  <a href="zoneuser"  class="link">  Èvenements</a> <a href="reservuser"  class="link">Réservations </a>  <a href="deconnecter"  class="link">Déconnecter</a> {%block links2%} {%endblock%} {%endblock%}
