{% extends 'layout.html.twig' %}
{% block title %}Acceuil{% endblock %}

{% block contenu %}
<div class="content">


    <div class="events"> 
<div class="event">
    <img src="original.jpg" >
    <h1>Event party </h1>

    <p>12/35</p>
    <p>10/12/2001</p>



</div>
    </div>


</div>

{% endblock %}
