<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ asset('style9.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
<div class="header">
<img src="{{ asset('logo.png') }}" width="100px" >
<div class="nav">

{%block links%}          



{%endblock%}





</div>


<div class="recherche" >
{%block recherche%} {%endblock%}

</div>



<div class="account" >

<img src="{{asset('ico-user.png')}}" width="50px" style="margin-top:25px; margin-left:20px"/>
<br>
<p class='label' >     {%block nom%} {%endblock%}
 </p>


</div>


</div>




</div>


{% block contenu %}{% endblock %}

</body>
</html>